<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mvvm_clean.star_wars">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Application-->
    <application
        android:name="com.mvvm_clean.star_wars.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--Activities-->
        <activity
            android:name="com.mvvm_clean.star_wars.core.presentation.navigation.RouteActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mvvm_clean.star_wars.features.login.LoginActivity"
            android:label="@string/login_screen_title"/>

        <activity
            android:name="com.mvvm_clean.star_wars.features.people_list.presentation.ui.activities.PeopleListActivity"
            android:label="@string/people_list_screen_title"/>

        <activity
            android:name="com.mvvm_clean.star_wars.features.people_details.presentation.activities.PeopleDetailsActivity"
            android:label="@string/people_details_screen_title"
            android:theme="@style/AppTheme.Translucent"/>

    </application>

</manifest>

